/*Small screen*/
.container{
    padding: 1rem;
}

.left__image{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

.right__title{
    margin: 1rem auto;
    color: #B696CF;
    font-size: 2.44rem;
}

.right__formcontrol{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.right__inputform{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label{
    font-size: 24px;
    color: #64748B;
}

.form__button{
    background-color: #B696CF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 3rem;
}

.form__label{
    display: block;
}
/*Medium screen*/
@media (min-width:768px){

}

/*large screen*/
@media (min-width:922px){
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .left{
        flex-basis: 40%;
    }
    .right{
        flex-basis: 60%;
    }
}